body {
	background: radial-gradient(ellipse at top, #000f1f, transparent, #00001f), linear-gradient(#00001f, black);
	color: #bfcfff
}
body.ngm {
	background: radial-gradient(ellipse at top, #0f001f, transparent, #00001f), linear-gradient(#00001f, black);
	color: #dfbfff
}

#loading {
	background: radial-gradient(ellipse at bottom, #bfcfff1f, transparent), #000000bf
}
#loading h1 {
	animation: blink 2s linear infinite;
	color: #007fff
}
#loading h2 {
	width: 100%;
	background: #0003;
}
@keyframes blink {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0.25
	}
	100% {
		opacity: 1
	}
}

#notify {
	position: fixed;
	left: inherit;
	right: 0;
	top: 20px;
	z-index: 3;
	transform: none;

	background: linear-gradient(90deg, transparent, #00b7);
	border-radius: 2px 0 0 2px;
	border: none;

	text-align: right
}
#notify.hide {
	transform: translate(100%, 0);
	top: 20px
}

#popup {
	border: 1px solid #00b;
	background: radial-gradient(ellipse at top, #03f7, #000b) !important;
}

.btn, .btn_tab {
	border: 0px solid;
	border-radius: 4px;
	background: radial-gradient(ellipse at top, #03fb, #03f3) !important;
	box-shadow: 0 0 3px #0000ff;

	color: #7bf;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

	transition-duration: 0.5s
}
.btn:hover, .btn_tab:hover {
	transform: scale(1.05)
}

.btn_tab {
	border-bottom: 2px solid #00f7
}
.btn_tab.choosed {
	border-bottom: 4px solid #0bf;
	background: radial-gradient(ellipse at top, #03fb, #03f7) !important;
	box-shadow: inset 0 0 3px #0000ff, 0 3px 6px rgba(0, 0, 191, 0.5);

	color: #bbf !important;
	font-weight: bold;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
}
#tabs .btn_tab {
	padding-top: 3px;
	padding-bottom: 3px
}
.tab_header {
	border-bottom: none !important;
	height: 5px;
	background: radial-gradient(ellipse at top, #00b, transparent)
}

/* RANKS */
#ranks_amt_0 {
	background: linear-gradient(transparent, #84e6003f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding: 2px;
	color: #84e600;
	font-size: 20px;
	text-shadow: 0 0 3px #84e600
}
#ranks_amt_1 {
	background: linear-gradient(transparent, #e6c9003f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #e6c900;
	font-size: 20px;
	text-shadow: 0 0 3px #e6c900
}
#ranks_amt_2 {
	background: linear-gradient(transparent, #e66d003f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #e66d00;
	font-size: 20px;
	text-shadow: 0 0 3px #e66d00
}
#ranks_amt_3 {
	background: linear-gradient(transparent, #e600393f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #e60039;
	font-size: 20px;
	text-shadow: 0 0 3px #e60039
}
#ranks_amt_4 {
	background: linear-gradient(transparent, #d700953f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #d70095;
	font-size: 20px;
	text-shadow: 0 0 3px #d70095
}
#ranks_amt_5 {
	background: linear-gradient(transparent, #d700953f);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #cb01fd;
	font-size: 20px;
	text-shadow: 0 0 3px #cb01fd
}

/* -=- MAGIC -=- */
.btn_tab.magic {
	background: radial-gradient(ellipse at top, #507, #005) !important;
	border-color: #b0f;

	color: #b0f;
	text-shadow: 0 2px 4px #507
}

/* -=- BLACK HOLE -=- */
.btn_tab.bh {
	background: radial-gradient(ellipse at top, #ff9f00, #ffbf00) !important;
	border-color: #ff9f00;
	box-shadow: 0 0 3px #bf9f00, 0 0 24px #ffbf00;

	color: #bf3f00;
	text-shadow: 0 2px 4px #ffdf7f
}
#stab_frame0_1 .btn {
	background: rgba(255, 191, 0, 0.75) !important;
	box-shadow: 0 0 3px #bf9f00;

	color: #ffff7f;
	text-shadow: 0 2px 4px #ffff7f
}

/* -=- ATOM -=- */
.btn_tab.atom {
	background: radial-gradient(ellipse at top, #007fff, #00ff7f) !important;
	border-color: #00ff7f;
	box-shadow: 0 0 3px #007fbf, 0 0 24px #00ffff;

	color: #7fffff;
	text-shadow: 0 2px 4px #7fffff
}
#stab_frame2_1 .btn {
	background: rgba(0, 255, 255, 0.75) !important;
	box-shadow: 0 0 3px #007fbf;

	color: #7fffff;
	text-shadow: 0 2px 4px #7fffff
}

/* ELEMENTS */
.elements {
	border: 0px solid;
	border-radius: 6px;
	background: rgba(0, 191, 255, 0.75) !important;
	box-shadow: 0 0 3px #00bfff;

	color: #7fefff;
	text-shadow: 0 2px 4px #7fefff
}
.elements.locked {
	background: radial-gradient(ellipse at top, #5f1f1f, #1f1f1f) !important;
	box-shadow: 0 4px 4px #5f0000;

	color: #7f2f2f !important;
	text-shadow: 0 2px 4px #3f0000
}
.elements.locked.bought {
	background: radial-gradient(ellipse at top, #00ff00, #7fff00) !important;
	box-shadow: 0 4px 4px #007f00;

	color: #003f00 !important;
	text-shadow: 0 2px 4px #001f00
}

.btn_tab.dilation {
	background: radial-gradient(ellipse at top, #00ff00, #7fff00) !important;
	box-shadow: 0 0 3px #7fff00, 0 0 24px #7fff00;

	color: #007f00;
	text-shadow: 0 2px 4px #bfffbf
}
.btn.md {
	background: rgba(0, 255, 0, 0.75) !important;
	border-color: #00ff00;
	box-shadow: 0 0 3px #7fff00;

	color: #7fff7f;
	text-shadow: 0 2px 4px #7fff7f
}

.btn_tab.star {
	background: radial-gradient(ellipse at top, #ff7f00, #ff3f00) !important;
	border-color: #ff3f00;
	box-shadow: 0 4px 4px #7f3f00;

	color: #3f3f00 !important;
	text-shadow: 0 2px 4px #1f1f00
}
#stab_frame1_3 .btn {
	background: rgba(255, 63, 0, 0.75) !important;
	box-shadow: 0 0 3px #ff3f00;

	color: #ffff7f;
	text-shadow: 0 2px 4px #ffff7f
}

.btn.locked, #stab_frame0_1 .btn.locked, #stab_frame0_2 .btn.locked, #stab_frame0_3 .btn.locked {
	border: 0px solid;
	background: radial-gradient(ellipse at top, #5f1f1f, #1f1f1f) !important;
	box-shadow: 0 4px 4px #5f0000;

	color: #7f2f2f !important;
	text-shadow: 0 2px 4px #3f0000
}

.btn_tab.sn {
	background: radial-gradient(#ffbfdf, #ff7fbf, #7f003f) !important;
	box-shadow: 0 0 3px #ff003f, 0 0 6px #ff003f;

	color: #ffbfff !important;
	text-shadow: 3px 3px 3px #bf7fff, -3px -3px 3px #bf7fff
}

.btn_tab.boson {
	background: radial-gradient(ellipse at top, #ffbf00, #bf00ff) !important;
	border-color: #bf00ff;
	box-shadow: 0 0 3px #ffbf00, 0 0 24px #bf00ff;

	color: #ffffdf !important;
	text-shadow: 0 0 3px #ffff00, 0 0 3px #ffff00
}

.higgs_boson {
	min-height: 50px;
	background: linear-gradient(#dfff007f, transparent);
	color: #dfff00
}

.graviton {
	min-height: 50px;
	background: linear-gradient(#007fff7f, transparent);
	color: #007fff
}

.photon {
	background: linear-gradient(#ffbf007f, transparent);
	color: #ffbf00
}

.gluon {
	background: linear-gradient(#df00ff7f, transparent);
	color: #bf00ff
}

.btn_tab.ferm {
	background: radial-gradient(ellipse at top, #ffbf00, #00ff00) !important;
	border-color: #00ff00;
	box-shadow: 0 0 3px #00ff00, 0 0 24px #ffffff;

	color: #7f7f00 !important;
	text-shadow: 0 0 3px #ffff00, 0 0 3px #bfbf00
}

.btn_tab.rad {
	background: linear-gradient(30deg, #ffff00, transparent, transparent, #00ffff), linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000) !important;
	border-color: #7fff00;
	box-shadow: 0 0 3px #00ff00, 0 0 24px #00ff7f;

	color: #bfffbf !important;
	text-shadow: 0 0 3px #00ff00, 0 0 3px #00bf00, 0 0 3px #00bf00
}

.btn_tab.ext {
	background: radial-gradient(ellipse at top, #ff3f00, #ffbf00, #ff7f00) !important;
	box-shadow: 0 0 3px #ff3f00, 0 0 6px #ff3f00, 0 0 24px #ff3f00;

	color: #fff7bf !important;
	text-shadow: 0 0 6px #ff3f00
}

/*#stab6_1 {
	background: radial-gradient(ellipse at top, #ff0000, #7fff00, #003fff) !important;
	box-shadow: 0 -3px 6px #ff0000, 0 0 6px #7fff00, 0 3px 6px #003fff, 0 0 60px #efbfff;

	color: rgba(255, 255, 255, 0.75) !important;
	text-shadow: 0 0 3px rgba(255, 255, 255, 0.5)
}

#stab6_2 {
	background: radial-gradient(ellipse at top, #ffff00, #7f7f00, #bfff00) !important;
	box-shadow: 0 -3px 6px #ffbf00, 0 0 6px #dfffbf, 0 3px 6px #7fff00;

	color: rgba(223, 255, 191, 0.75) !important;
	text-shadow: 0 0 3px #dfffbf
}*/